body {
  background-color: lavenderblush;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 7%;

}


h1 {
  text-align: center;
  font-family: 'Times New Roman';
  color:cadetblue;
  text-decoration: underline;
  text-shadow: 2px;
  border: 6px;
  border-style: groove;
  border-color: dodgerblue;
}


div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}

li {
  margin-left: 5%;
  margin-right: 10%;
  font-family: Times;
  font-weight: bold;
}


/* h1= page titles, h3= no () found, h4= task */


/* CSS */
.button-53 {
  font-family: "Open Sans", sans-serif;
  font-size: 8px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 5px;
}


.button-53:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}






/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

